*{margin:0; padding:0; border:none;}
html{
	font-family: 'Ravi Prakash', cursive;
  	background: url(images/ACDC_stage.jpg);
	background-size: cover;
}
body{
}
#first{
	color: maroon;
	font-size: 400%;
	text-align: center;
	padding-top: 10px;
}
.keys{
	display: flex;
	flex: 1;
	min-height: 80vh;
	align-items: center;
	justify-content: center;
}
kbd{
	display:block;
	font-size:40px;
	color: white;
	background-color:black;
}