*{margin:0; padding:0; border:none; font-size:100%;}
html{
	font-family: 'Ravi Prakash', cursive;
	font-size: 1.25vw;
  	background: #660000 url(images/ACDC_stage.jpg) no-repeat;
	background-size: cover;
}
body{
}
#first{
	color: maroon;
	font-size: 400%;
	text-align: center;
	padding-top: 1vw;
}
.keys{
	display: flex;
	flex: 1;
	min-height: 80vh;
	align-items: center;
	justify-content: center;
}
.key{
	color: #990000;
	background-color:black;
	border: 4px solid #990000;
	border-radius: 10vw;
	padding: 1vw 2vw;
	text-align: center;
	width: 3.5vw;
}
.key kbd{
	display: block;
	font-size: 300%;
}
.key span{
	display: block;
	font-size: 75%;
}